<% extends ./base.html %>

<% subskin content %>
<div>
  <h1 class="lefty" style="width: 80%"><% if <% entity %> echo 'Edit' %> <% if not <% entity %> echo 'Add new' %> <% entityName %></h1>
  <div class="clearer"></div>
</div>
<div id="addEntityForm">
<form name="blogpost" action="<% href %>" method="POST">
<% if <% entity %> render 'hiddenIdInput' %>
<% for prop in <% propsArray %> render 'proprow' %>
<input type="submit" name="Save" value="save"/>
</form>
</div>

<% subskin 'proprow' %>
<div class="formPropertyRow">
  <% prop.label %>
  <% if <% equality <% prop.type %> 'StringProperty' %> render 'inputtextfield' %>
  <% if <% equality <% prop.type %> 'TextProperty' %> render 'textarea' %>
  <% if <% equality <% prop.type %> 'IntegerProperty' %> render 'inputtextfield' %>
  <% if <% equality <% prop.type %> 'ReferenceProperty' %> render 'selecttextfield' %>
  <% if <% equality <% prop.type %> 'ManyToManyReference' %> render 'checkboxesfield' %>
</div>

<% subskin 'inputtextfield' %>
<input type="text" size="5" name="<% prop.name %>" value="<% if <% entity %> getObjVal <% entity %> <% prop.label %> %>" />

<% subskin 'textarea' %>
<textarea cols="15" rows="5" name="<% prop.name %>" ><% if <% entity %> getObjVal <% entity %> <% prop.label %> %></textarea>

<% subskin 'hiddenIdInput'%>
<input type="hidden" name="id" value="<% entity.key() %>"/>

<% subskin 'selecttextfield' %>
<select size="1" name="<% prop.name %>">
    <option value=""> - </option>
    <% for item in <% getObjVal <% references %> <% prop.label %> %> render 'optionitem' %>
</select>

<% subskin 'optionitem' %>
<option value="<% item.key() %>" <% if <% entity %> render 'selectedOption' %>><% item.name %></option>

<% subskin 'selectedOption' %>
<% equalKeys <% item %> <% getObjVal <% entity %> <% prop.label %> %> 'selected'%>

<% subskin 'checkboxesfield'%>
<% for item in <% getObjVal <% references %> <% prop.label %> %> render 'checkboxitem' %>

<% subskin 'checkboxitem' %>
<input name="<% prop.name %>[]" type="checkbox" value="<% item.key() %>" <% if <% entity %> render 'checkedCheckbox'%>/> <% item.name %><br/>

<% subskin 'checkedCheckbox' %>
<% isCheckedForEntity <% getObjVal <% entity %> <% prop.label %> %>  <% item %> 'checked'%>